

#AddTodoForm,
.todosBox {
  border: 2px solid rgb(56, 158, 61);
  padding: 20px;
  margin: 10px auto;
  background-color: rgb(201, 214, 190);
  box-shadow: 5px 5px 10px rgb(75, 160, 64);
  border-radius: 5px;
}

#title {
  margin-top: 40px;
}
#desc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.addtxt {
  color: green;
}

/* ------------------------ */
.todo-box {
  width: 80%;
  float: left;
}

#todoDiv {
  margin: 10px;
}

hr{
  width: 100%;
}
